* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #110659;
}

/* The header part */
.page-header {
  height: 4rem;
  background-color: rgb(0, 123, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid white;
  box-shadow: 3px 3px 5px rgb(133, 132, 132);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  color: white;
}

.logo img {
  height: 100%;
}

.nav-links {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
}

.nav-links a:hover {
  background-color: rgba(0, 255, 38, 0.668);
}

/* The sections part */
.section-container {
  width: 90%;
  height: fit-content;
  margin: 1rem auto;
  color: white;
}

.section-title {
  text-align: center;
  background-color: rgb(255, 98, 0);
  padding: 0.5rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-subtitle {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}

/* The first section  */
.section-container:first-of-type {
  margin-top: 4.5rem;
  min-height: calc(100vh - 4rem);
}

.category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem auto;
}

.category-item {
  width: 15rem;
  height: 17rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgb(133, 132, 132);
  cursor: pointer;
  justify-self: center;
}

.category-item a {
  text-decoration: none;
}

.category-item img {
  height: 80%;
  width: 100%;
}

.category-item h3 {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  background-color: green;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  border: 1px solid white;
  margin: 3rem;
}

details {
  margin: 1rem auto;
}

.details-1 > summary {
  background-color: rgb(5, 135, 26);
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}

.details-2 > summary {
  background-color: rgb(234, 0, 255);
  height: 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  width: 98%;
  margin: 0 auto;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem auto;
  width: 95%;
}

.game-item {
  height: 3rem;
  background-color: rgb(6, 157, 222);
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.game-item a {
  text-decoration: none;
  color: white;
}

#about {
  text-align: justify;
  line-height: 1.5rem;
}

#about p {
  text-indent: 3rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* The footer */
.page-footer {
  height: fit-content;
  background-color: rgb(0, 0, 0);
  color: white;
  border-top: 1px solid white;
  text-align: center;
  padding: 1rem;
}